.pitsa {
  width: 500px;
  height: 500px;
  /* background: #e8944f; */
  border-radius: 50%;
  display: flex;
}

.non {
  width: 450px;
  height: 450px;
  background: #fcd47c;
  border: 2px solid #e8944f;
  border-radius: 50%;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5%;
}

.kolbasalar {
  position: relative;
}

.kolbasa {
  position: absolute;
  top: 70px;
  left: 50px;
  width: 100px;
  height: 100px;
  background: crimson;
  border-radius: 50%;
}

.kolbasa:after {
  content: "";
  position: absolute;
  top: 20%;
  left: 20%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.kolbasa:before {
  content: "";
  position: absolute;
  top: 60%;
  left: 70%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}
.kolbasa1 {
  position: absolute;
  top: 205px;
  left: 25px;
  width: 100px;
  height: 100px;
  background: crimson;
  border-radius: 50%;
}

.kolbasa1:after {
  content: "";
  position: absolute;
  top: 20%;
  left: 20%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.kolbasa1:before {
  content: "";
  position: absolute;
  top: 60%;
  left: 70%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.kolbasa2 {
  position: absolute;
  top: 315px;
  left: 110px;
  width: 100px;
  height: 100px;
  background: crimson;
  border-radius: 50%;
}

.kolbasa2:after {
  content: "";
  position: absolute;
  top: 20%;
  left: 20%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.kolbasa2:before {
  content: "";
  position: absolute;
  top: 60%;
  left: 70%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.kolbasa3 {
  position: absolute;
  top: 310px;
  left: 250px;
  width: 100px;
  height: 100px;
  background: crimson;
  border-radius: 50%;
}

.kolbasa3:after {
  content: "";
  position: absolute;
  top: 20%;
  left: 20%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.kolbasa3:before {
  content: "";
  position: absolute;
  top: 60%;
  left: 70%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.kolbasa4 {
  position: absolute;
  top: 200px;
  left: 330px;
  width: 100px;
  height: 100px;
  background: crimson;
  border-radius: 50%;
}

.kolbasa4:after {
  content: "";
  position: absolute;
  top: 20%;
  left: 20%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.kolbasa4:before {
  content: "";
  position: absolute;
  top: 60%;
  left: 70%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.kolbasa5 {
  position: absolute;
  top: 80px;
  left: 300px;
  width: 100px;
  height: 100px;
  background: crimson;
  border-radius: 50%;
}

.kolbasa5:after {
  content: "";
  position: absolute;
  top: 20%;
  left: 20%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.kolbasa5:before {
  content: "";
  position: absolute;
  top: 60%;
  left: 70%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.kolbasa6 {
  position: absolute;
  top: 10px;
  left: 180px;
  width: 100px;
  height: 100px;
  background: crimson;
  border-radius: 50%;
}

.kolbasa6:after {
  content: "";
  position: absolute;
  top: 20%;
  left: 20%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.kolbasa6:before {
  content: "";
  position: absolute;
  top: 60%;
  left: 70%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.kolbasa7 {
  position: absolute;
  top: 170px;
  left: 175px;
  width: 100px;
  height: 100px;
  background: crimson;
  border-radius: 50%;
}

.kolbasa7:after {
  content: "";
  position: absolute;
  top: 20%;
  left: 20%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.kolbasa7:before {
  content: "";
  position: absolute;
  top: 60%;
  left: 70%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.pamidorlar {
  position: relative;
}

.pamidor1 {
  position: absolute;
  top: 150px;
  left: 15px;
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
}
.pamidor1:after {
  content: "..";
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 12px;
  height: 30px;
  background: coral;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.pamidor1:before {
  content: "..";
  color: white;
  position: absolute;
  top: 10px;
  left: 30px;
  width: 12px;
  height: 30px;
  background: coral;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.pamidor2 {
  position: absolute;
  top: 315px;
  left: 45px;
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
}

.pamidor2:after {
  content: "..";
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 12px;
  height: 30px;
  background: coral;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.pamidor2:before {
  content: "..";
  color: white;
  position: absolute;
  top: 10px;
  left: 30px;
  width: 12px;
  height: 30px;
  background: coral;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.pamidor3 {
  position: absolute;
  top: 390px;
  left: 205px;
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
}

.pamidor3:after {
  content: "..";
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 12px;
  height: 30px;
  background: coral;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.pamidor3:before {
  content: "..";
  color: white;
  position: absolute;
  top: 10px;
  left: 30px;
  width: 12px;
  height: 30px;
  background: coral;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.pamidor4 {
  position: absolute;
  top: 310px;
  left: 350px;
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
}

.pamidor4:after {
  content: "..";
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 12px;
  height: 30px;
  background: coral;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.pamidor4:before {
  content: "..";
  color: white;
  position: absolute;
  top: 10px;
  left: 30px;
  width: 12px;
  height: 30px;
  background: coral;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.pamidor5 {
  position: absolute;
  top: 155px;
  left: 385px;
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
}

.pamidor5:after {
  content: "..";
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 12px;
  height: 30px;
  background: coral;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.pamidor5:before {
  content: "..";
  color: white;
  position: absolute;
  top: 10px;
  left: 30px;
  width: 12px;
  height: 30px;
  background: coral;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.pamidor6 {
  position: absolute;
  top: 35px;
  left: 285px;
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
}

.pamidor6:after {
  content: "..";
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 12px;
  height: 30px;
  background: coral;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.pamidor6:before {
  content: "..";
  color: white;
  position: absolute;
  top: 10px;
  left: 30px;
  width: 12px;
  height: 30px;
  background: coral;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.pamidor7 {
  position: absolute;
  top: 35px;
  left: 125px;
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
}

.pamidor7:after {
  content: "..";
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 12px;
  height: 30px;
  background: coral;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.pamidor7:before {
  content: "..";
  color: white;
  position: absolute;
  top: 10px;
  left: 30px;
  width: 12px;
  height: 30px;
  background: coral;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.pamidor8 {
  position: absolute;
  top: 130px;
  left: 250px;
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
}

.pamidor8:after {
  content: "..";
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 12px;
  height: 30px;
  background: coral;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.pamidor8:before {
  content: "..";
  color: white;
  position: absolute;
  top: 10px;
  left: 30px;
  width: 12px;
  height: 30px;
  background: coral;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.pamidor9 {
  position: absolute;
  top: 260px;
  left: 150px;
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
}

.pamidor9:after {
  content: "..";
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 12px;
  height: 30px;
  background: coral;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.pamidor9:before {
  content: "..";
  color: white;
  position: absolute;
  top: 10px;
  left: 30px;
  width: 12px;
  height: 30px;
  background: coral;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.pamidor10 {
  position: absolute;
  top: 250px;
  left: 260px;
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
}

.pamidor10:after {
  content: "..";
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 12px;
  height: 30px;
  background: coral;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.pamidor10:before {
  content: "..";
  color: white;
  position: absolute;
  top: 10px;
  left: 30px;
  width: 12px;
  height: 30px;
  background: coral;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.pamidor11 {
  position: absolute;
  top: 120px;
  left: 150px;
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
}

.pamidor11:after {
  content: "..";
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 12px;
  height: 30px;
  background: coral;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.pamidor11:before {
  content: "..";
  color: white;
  position: absolute;
  top: 10px;
  left: 30px;
  width: 12px;
  height: 30px;
  background: coral;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.qoziqorinlar {
  position: relative;
}

.qoziqorin1 {
  position: absolute;
  top: 50px;
  left: 125px;
  width: 25px;
  height: 40px;
  background: grey;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transform: rotate(120deg);
}

.qoziqorin1:after {
  content: "";
  color: white;
  position: absolute;
  top: 12px;
  left: 25px;
  width: 20px;
  height: 15px;
  background: coral;
}

.qoziqorin2 {
  position: absolute;
  top: 150px;
  left: 75px;
  width: 25px;
  height: 40px;
  background: grey;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transform: rotate(120deg);
}

.qoziqorin2:after {
  content: "";
  color: white;
  position: absolute;
  top: 12px;
  left: 25px;
  width: 20px;
  height: 15px;
  background: coral;
}

.qoziqorin3 {
  position: absolute;
  top: 300px;
  left: 150px;
  width: 25px;
  height: 40px;
  background: grey;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transform: rotate(120deg);
}

.qoziqorin3:after {
  content: "";
  color: white;
  position: absolute;
  top: 12px;
  left: 25px;
  width: 20px;
  height: 15px;
  background: coral;
}

.qoziqorin4 {
  position: absolute;
  top: 350px;
  left: 300px;
  width: 25px;
  height: 40px;
  background: grey;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transform: rotate(120deg);
}

.qoziqorin4:after {
  content: "";
  color: white;
  position: absolute;
  top: 12px;
  left: 25px;
  width: 20px;
  height: 15px;
  background: coral;
}

.qoziqorin5 {
  position: absolute;
  top: 250px;
  left: 350px;
  width: 25px;
  height: 40px;
  background: grey;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transform: rotate(120deg);
}

.qoziqorin5:after {
  content: "";
  color: white;
  position: absolute;
  top: 12px;
  left: 25px;
  width: 20px;
  height: 15px;
  background: coral;
}

.qoziqorin6 {
  position: absolute;
  top: 150px;
  left: 350px;
  width: 25px;
  height: 40px;
  background: grey;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transform: rotate(120deg);
}

.qoziqorin6:after {
  content: "";
  color: white;
  position: absolute;
  top: 12px;
  left: 25px;
  width: 20px;
  height: 15px;
  background: coral;
}

.qoziqorin7 {
  position: absolute;
  top: 50px;
  left: 270px;
  width: 25px;
  height: 40px;
  background: grey;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transform: rotate(120deg);
}

.qoziqorin7:after {
  content: "";
  color: white;
  position: absolute;
  top: 12px;
  left: 25px;
  width: 20px;
  height: 15px;
  background: coral;
}

.qoziqorin8 {
  position: absolute;
  top: 190px;
  left: 150px;
  width: 25px;
  height: 40px;
  background: grey;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transform: rotate(120deg);
}

.qoziqorin8:after {
  content: "";
  color: white;
  position: absolute;
  top: 12px;
  left: 25px;
  width: 20px;
  height: 15px;
  background: coral;
}

.qoziqorin9 {
  position: absolute;
  top: 200px;
  left: 290px;
  width: 25px;
  height: 40px;
  background: grey;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transform: rotate(120deg);
}

.qoziqorin9:after {
  content: "";
  color: white;
  position: absolute;
  top: 12px;
  left: 25px;
  width: 20px;
  height: 15px;
  background: coral;
}

.pishloqlar {
  position: relative;
}

.pishloq1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #cbd1b4;
  position: absolute;
  top: 100px;
  left: 50px;
}

.pishloq1:after {
  content: "";
  color: white;
  position: absolute;
  top: 15px;
  left: 25px;
  width: 5px;
  height: 10px;
  background: white;
  border-radius: 50%;
}
.pishloq1:before {
  content: "";
  color: white;
  position: absolute;
  top: 12px;
  left: 5px;
  width: 10px;
  height: 5px;
  background: white;
  border-radius: 50%;
}

.pishloq2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #cbd1b4;
  position: absolute;
  top: 200px;
  left: 10px;
}

.pishloq2:after {
  content: "";
  color: white;
  position: absolute;
  top: 15px;
  left: 25px;
  width: 5px;
  height: 10px;
  background: white;
  border-radius: 50%;
}
.pishloq2:before {
  content: "";
  color: white;
  position: absolute;
  top: 12px;
  left: 5px;
  width: 10px;
  height: 5px;
  background: white;
  border-radius: 50%;
}

.pishloq3 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #cbd1b4;
  position: absolute;
  top: 300px;
  left: 50px;
}

.pishloq3:after {
  content: "";
  color: white;
  position: absolute;
  top: 15px;
  left: 25px;
  width: 5px;
  height: 10px;
  background: white;
  border-radius: 50%;
}
.pishloq3:before {
  content: "";
  color: white;
  position: absolute;
  top: 12px;
  left: 5px;
  width: 10px;
  height: 5px;
  background: white;
  border-radius: 50%;
}

.pishloq4 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #cbd1b4;
  position: absolute;
  top: 370px;
  left: 150px;
}

.pishloq4:after {
  content: "";
  color: white;
  position: absolute;
  top: 15px;
  left: 25px;
  width: 5px;
  height: 10px;
  background: white;
  border-radius: 50%;
}
.pishloq4:before {
  content: "";
  color: white;
  position: absolute;
  top: 12px;
  left: 5px;
  width: 10px;
  height: 5px;
  background: white;
  border-radius: 50%;
}

.pishloq5 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #cbd1b4;
  position: absolute;
  top: 390px;
  left: 250px;
}

.pishloq5:after {
  content: "";
  color: white;
  position: absolute;
  top: 15px;
  left: 25px;
  width: 5px;
  height: 10px;
  background: white;
  border-radius: 50%;
}
.pishloq5:before {
  content: "";
  color: white;
  position: absolute;
  top: 12px;
  left: 5px;
  width: 10px;
  height: 5px;
  background: white;
  border-radius: 50%;
}

.pishloq6 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #cbd1b4;
  position: absolute;
  top: 300px;
  left: 350px;
}

.pishloq6:after {
  content: "";
  color: white;
  position: absolute;
  top: 15px;
  left: 25px;
  width: 5px;
  height: 10px;
  background: white;
  border-radius: 50%;
}
.pishloq6:before {
  content: "";
  color: white;
  position: absolute;
  top: 12px;
  left: 5px;
  width: 10px;
  height: 5px;
  background: white;
  border-radius: 50%;
}

.pishloq7 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #cbd1b4;
  position: absolute;
  top: 200px;
  left: 350px;
}

.pishloq7:after {
  content: "";
  color: white;
  position: absolute;
  top: 15px;
  left: 25px;
  width: 5px;
  height: 10px;
  background: white;
  border-radius: 50%;
}
.pishloq7:before {
  content: "";
  color: white;
  position: absolute;
  top: 12px;
  left: 5px;
  width: 10px;
  height: 5px;
  background: white;
  border-radius: 50%;
}

.pishloq8 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #cbd1b4;
  position: absolute;
  top: 100px;
  left: 330px;
}

.pishloq8:after {
  content: "";
  color: white;
  position: absolute;
  top: 15px;
  left: 25px;
  width: 5px;
  height: 10px;
  background: white;
  border-radius: 50%;
}
.pishloq8:before {
  content: "";
  color: white;
  position: absolute;
  top: 12px;
  left: 5px;
  width: 10px;
  height: 5px;
  background: white;
  border-radius: 50%;
}

.pishloq9 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #cbd1b4;
  position: absolute;
  top: 20px;
  left: 230px;
}

.pishloq9:after {
  content: "";
  color: white;
  position: absolute;
  top: 15px;
  left: 25px;
  width: 5px;
  height: 10px;
  background: white;
  border-radius: 50%;
}
.pishloq9:before {
  content: "";
  color: white;
  position: absolute;
  top: 12px;
  left: 5px;
  width: 10px;
  height: 5px;
  background: white;
  border-radius: 50%;
}

.pishloq10 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #cbd1b4;
  position: absolute;
  top: 70px;
  left: 130px;
}

.pishloq10:after {
  content: "";
  color: white;
  position: absolute;
  top: 15px;
  left: 25px;
  width: 5px;
  height: 10px;
  background: white;
  border-radius: 50%;
}
.pishloq10:before {
  content: "";
  color: white;
  position: absolute;
  top: 12px;
  left: 5px;
  width: 10px;
  height: 5px;
  background: white;
  border-radius: 50%;
}

.pishloq11 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #cbd1b4;
  position: absolute;
  top: 290px;
  left: 200px;
}

.pishloq11:after {
  content: "";
  color: white;
  position: absolute;
  top: 15px;
  left: 25px;
  width: 5px;
  height: 10px;
  background: white;
  border-radius: 50%;
}
.pishloq11:before {
  content: "";
  color: white;
  position: absolute;
  top: 12px;
  left: 5px;
  width: 10px;
  height: 5px;
  background: white;
  border-radius: 50%;
}

.pishloq12 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #cbd1b4;
  position: absolute;
  top: 120px;
  left: 200px;
}

.pishloq12:after {
  content: "";
  color: white;
  position: absolute;
  top: 15px;
  left: 25px;
  width: 5px;
  height: 10px;
  background: white;
  border-radius: 50%;
}
.pishloq12:before {
  content: "";
  color: white;
  position: absolute;
  top: 12px;
  left: 5px;
  width: 10px;
  height: 5px;
  background: white;
  border-radius: 50%;
}

.zaytunlar {
  position: relative;
}

.zaytun1 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 100px;
  left: 50px;
}
.zaytun1:after {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: white;
}

.zaytun2 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 200px;
  left: 50px;
}
.zaytun2:after {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: white;
}

.zaytun3 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 300px;
  left: 50px;
}
.zaytun3:after {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: white;
}

.zaytun4 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 370px;
  left: 150px;
}
.zaytun4:after {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: white;
}

.zaytun5 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 370px;
  left: 250px;
}
.zaytun5:after {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: white;
}

.zaytun6 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 320px;
  left: 350px;
}
.zaytun6:after {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: white;
}

.zaytun7 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 220px;
  left: 350px;
}
.zaytun7:after {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: white;
}

.zaytun8 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 120px;
  left: 350px;
}
.zaytun8:after {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: white;
}

.zaytun9 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 50px;
  left: 250px;
}
.zaytun9:after {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: white;
}

.zaytun10 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 50px;
  left: 150px;
}
.zaytun10:after {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: white;
}

.zaytun11 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 150px;
  left: 150px;
}
.zaytun11:after {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: white;
}

.zaytun12 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 250px;
  left: 250px;
}
.zaytun12:after {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: white;
}

.mayonezlar {
  position: relative;
}

.mayonez1 {
  width: 450px;
  height: 10px;
  background: #fff;
  position: absolute;
  top: 220px;
  left: 0px;
  transform: rotate(70deg);
  border-radius: 50px;
}

.mayonez2 {
  width: 370px;
  height: 10px;
  background: #fff;
  position: absolute;
  top: 300px;
  left: -35px;
  transform: rotate(40deg);
  border-radius: 50px;
}

.mayonez3 {
  width: 370px;
  height: 10px;
  background: #fff;
  position: absolute;
  top: 125px;
  left: 110px;
  transform: rotate(40deg);
  border-radius: 50px;
}

.ketchuplar {
  position: relative;
  transform: rotate(20deg) translate(60px);
}

.ketchup1 {
  width: 450px;
  height: 10px;
  background: red;
  position: absolute;
  top: 220px;
  left: 0px;
  transform: rotate(70deg);
  border-radius: 50px;
}

.ketchup2 {
  width: 370px;
  height: 10px;
  background: red;
  position: absolute;
  top: 300px;
  left: -35px;
  transform: rotate(40deg);
  border-radius: 50px;
}

.ketchup3 {
  width: 370px;
  height: 10px;
  background: red;
  position: absolute;
  top: 125px;
  left: 110px;
  transform: rotate(40deg);
  border-radius: 50px;
}

.kokatlar {
  position: relative;
}

.kokat1 {
  width: 30px;
  height: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: green;
  position: absolute;
  top: 350px;
  left: 250px;
}

.kokat2 {
  width: 30px;
  height: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: green;
  position: absolute;
  top: 250px;
  left: 250px;
}

.kokat3 {
  width: 30px;
  height: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: green;
  position: absolute;
  top: 150px;
  left: 150px;
}

.kokat4 {
  width: 30px;
  height: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: green;
  position: absolute;
  top: 250px;
  left: 50px;
}

.kokat5 {
  width: 30px;
  height: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: green;
  position: absolute;
  top: 200px;
  left: 400px;
}

/* Pizza End */

body {
  font-family: sans-serif;
}

.container {
  display: flex;
}

.main-pitsa {
  margin-left: 20%;
}

.maxsus-form h2 {
  font-size: 20px;
  color: green;
}
.h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  color: #0f0f;
}

.chiziq {
  margin-left: 20%;
  border-left: 10px solid crimson;
}

.logo-text {
  text-align: center;
  color: white;
}
.kok {
  color: blue;
}

.oq {
  color: #00000059;
}
.yashil {
  color: green;
}

.narx {
  margin-top: 30%;
}

.narxlovchi {
  color: aqua;
}

label,
input {
  width: 10px;
  height: 20px;
  padding: 5px;
  margin: 5px;
  background: crimson;
  color: white;
  border-radius: 10px;
}
